body{
    margin: 0;
    padding: 0;
}
#header{
    width: 100%;
    height: 600px;
    background-image: url(resimler/header.jpg);
    background-repeat:no-repeat ;
    background-size: cover;
    padding-top:200px ;
}
#header #siyahSerit{    
    width: 100%;
    height: 80px;
    background-color: rgba(0, 0, 0, 0.4);
}
#header #siyahSerit #logoMenu{
    width: 1200px;
    height: 80px;
    margin: auto;   
}
#header #siyahSerit #logoMenu #logo{
    width: 300px;
    line-height: 80px;
    color: white;
    font-size: 22px;
    font-weight: bold;
    text-transform: uppercase;
    float: left;
}
#header #siyahSerit #logoMenu ol{
    list-style-type: none;  
    float: left;
    margin: 0;
    padding: 0;
    width: 600px;
    line-height: 80px;
    text-align: center;
}
#header #siyahSerit #logoMenu ol li{
    display: inline-block;
    padding-left:10px ;
    padding-right: 10px;
    margin-left: 5px;
    margin-right: 5px;
    line-height: 40px;
}
#header #siyahSerit #logoMenu ol li a{
    color: white;
    font-size: 18px;
    text-transform: capitalize;
    text-decoration: none;
}
#header #siyahSerit #logoMenu ol li:after{
    content: '';
    background-color: yellow;
    display: block;
    height: 5px;
    width: 0;
    margin: auto;
}
#header #siyahSerit #logoMenu ol li:hover:after{
    width: 100%;
    transition-duration: 0.5s;
}
#header #buyukSlogan{
    width: 1200px;
    line-height:100px ;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    margin-bottom: 50px;
    color: white;
    text-align: center;
    font-size: 60px;
    text-shadow: 4px 4px 4px black; 
    text-transform: uppercase;
    font-weight: bold;
}
#header #kucukSloganlar{
    width: 1000px;
    height: 100px;
    line-height: 50px;
    color: white;
    font-size: 25px;
    font-weight: bold;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    text-transform: capitalize;
    background-color: rgba(0, 0, 0, 0.2);
    text-shadow: 2px 2px 2px black;
    margin-bottom: 50px;
}
#header #butonlar{
    width: 800px;
    line-height:100px;
    margin: auto;
    text-align: center;
}
#header #butonlar a{
    padding-left: 35px;
    padding-right: 35PX;
    padding-top: 15PX;
    padding-bottom: 15PX;
    background-color: orange;
    border: solid 1px white;
    color: white;
    font-size: 20px;
    font-weight: bold;
    text-shadow: 1px 1px 1px black;
    text-transform: capitalize;
    text-decoration: none;
    margin-left: 10px;
    margin-right: 10px;
    border-radius: 10px;
}
#header #butonlar a:first-child{
    background-color: rgba(255, 145, 0, 0.4);
}
#header #butonlar a:hover{
    background-color: rgba(255, 145, 0, 1);
}
#hakkimizda{
    width: 1000px;
    height: 300px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    margin-bottom: 20px;
}
#hakkimizda #sirketTanitim{
    width: 490px;
    height: 300px;
    margin-right: 20px;
    float: left;
}
#hakkimizda #buyukFoto{
    width: 490px;
    height: 300px;
    float: left;
}
#hakkimizda #sirketTanitim #hakBaslik{
    width: 490px;
    line-height: 30px;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    text-transform: capitalize;
}
#hakkimizda #sirketTanitim #hakOzet{
    margin-top: 10px;
    text-align: center;
    line-height: 26px;
    font-size: 18px;
}
#griSerit{
    width: 100%;
    height: 560px;
    background-color: lightgray;
    margin-bottom: 20px;
}
#griSerit #icerik1{
    width: 1086px;
    height: 520px;
    margin: auto;
    padding-top: 20px;
}
#griSerit #icerik1 #buyukBaslik{
    width: 100%;
    line-height: 40px;
    font-size: 30px;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;

}
#griSerit #icerik1 #kucukBaslik{
    width: 100%;
    line-height: 20px;
    font-size: 17px;
    text-transform: capitalize;
    text-align: center;
}
#griSerit #icerik1 #sefler{
    width: 100%;
    height: 460px;  
}
#griSerit #icerik1 #sefler .sef{
    border: solid 1px black;
    padding: 10px;
    width: 300px;
    height: 438px;
    margin-left: 20px;
    margin-right: 20px; 
    float: left;
}
#griSerit #icerik1 #sefler .sef .sefFoto{
    width: 300px;
    height: 350px;
}
#griSerit #icerik1 #sefler .sef .sefAdi{
    width: 300px;
    line-height: 24px;
    font-size: 16px;
    font-weight: bold;
    text-transform: capitalize;
    text-align: center;
}
#griSerit #icerik1 #sefler .sef .sefOzet{
    width: 300px;
    line-height: 22px;
    font-size: 15px;    
    text-align: justify;
}
#yemekMenu{
    width: 1060px;
    height: 670px;
    margin-right: auto;
    margin-left: auto;
}
#yemekMenu #menuBaslik{
    line-height: 40px;
    width: 1060px;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
    font-size: 30px;
}
#yemekMenu #yemekler{
    width: 1060px;
    height: 630px;
}
#yemekMenu #yemekler .yemek{
    float: left;
    margin-right: 20px;
    margin-bottom: 20px;
    width:250px ;
    height:190px ;
    position: relative;
    overflow: hidden;
}
#yemekMenu #yemekler .yemek:nth-child(4n){
    margin-right: 0px;
}
#yemekMenu #yemekler .yemek .seffaf{
    width: 250px;
    line-height: 190px;
    background-color: rgba(0, 0, 0, 0.3);
    color: white;
    position:absolute ;
    top: 0px;
    left: -250px;
    text-align: center;
    font-size: 18px;
    text-transform: capitalize;
}
#yemekMenu #yemekler .yemek:hover .seffaf{
    left: 0px;
    transition-duration: 0.5s;
}
#iletisim{
    width: 1060px;
    height: 35px;
    margin: 10px auto ; 
}
#iletisim .iletisimBilgileri{
    width: 250px;
    height: 35px;
    margin-right: 20px;
    float: left;
}
#iletisim .iletisimBilgileri:nth-child(4){
    margin-right: 0px;
} 
#iletisim .iletisimBilgileri .iletisimFoto{
    width: 35px;
    height: 35px;
    float: left;
    margin-right: 15px;
}
#iletisim .iletisimBilgileri .iletisimBaslik{
    width: 200px;
    line-height: 20px;
    text-transform: uppercase;
    font-size: 15px;
    font-weight: bold;
    float: left;    
}
#iletisim .iletisimBilgileri .iletisimBilgi{
    width: 190px;
    line-height: 15px;
    text-transform: capitalize;
    font-size: 13px;
    padding-left: 10px; 
    float: left;
}
#copyRight{
    width: 100%;
    line-height: 30px;
    text-align: center;
    color:white ;
    font-size: 14px;
    text-transform: capitalize;
    background-color: black;
}
#chkontrol,#lblkontrol{
    display: none;
}
@media screen and (max-device-width:500px){
    #header{        
        height: 300px;  
        padding-top:0px ;
    }
    #header #siyahSerit{        
        height: 60px;
        background-color: rgba(0, 0, 0, 1);
    }
    #header #siyahSerit #logoMenu{
        width: 100%;
        height: 60px;           
    }
    #header #siyahSerit #logoMenu #logo{
        width: 250px;
        line-height: 60px;      
        font-size: 18px;
    }

    #header #siyahSerit #logoMenu #lblkontrol {
        color: white;
        line-height: 60px;
        font-size: 40px;
        display: block;
        float: right;
        padding-right: 10px;

    } 
    #header #siyahSerit #logoMenu ol {
        width: 100%;
        position: absolute;
        top: 60px;
        left: 500px;

    }
    #header #siyahSerit #logoMenu ol li {
        display: block;
        padding-left: 0px;
        padding-right: 0px;
        margin-right: 0px;
        margin-left: 0px;
        background-color: rgba(0, 0, 0, 0.6);
        border-bottom: dashed 1px gray;
    }
    #header #siyahSerit #logoMenu #chkontrol :checked~ol{
        left: 0px;
        text-decoration:0.5 ;
    }
    #header #buyukSlogan{
        width: 100%;
        line-height: 50px;
        margin-top: 20px;
        margin-bottom: 20px;
        font-size: 24px ;
    }
    #header #kucukSloganlar {
        width: 100%;
        line-height: 60px;
        text-align: center;
    }
    #header #butonlar a {

        padding-left: 15px;
        padding-right: 15px;
        padding-top: 5px;
        padding-bottom: 5px;
        font-size: 14px;
    }
}
#hakkimizda{
    width: 100%;
    height: 615px;
    margin-bottom: 10px;
    margin-top: 10px;
    padding-left:15px ;
    padding-right: 15px;
    box-sizing: border-box;
}
#hakkimizda #sirketTanitim {
    width: 100%;
    height: 410px;
    margin-right: 0px;


}
#hakkimizda #buyukFoto img{
    width: 345px;
    height: 200px;

}
#hakkimizda #sirketTanitim #hakBaslik{
    width: 100% ;
}
 #griSerit{
    width: 100%;
    height: 1510px;
    margin-bottom: 20px;

 }
 #griSerit #icerik1 {
    width: 322px;
    height: 1510px;

 }
 #griSerit #icerik1 #buyukBaslik{
    width: 322px;
    line-height: 30px;
    font-size: 24px;

 }
 #griSerit #icerik1 #kucukBaslik{
    line-height: 20px;
    font-size: 15px;

 }
 #griSerit #icerik1 #sefler {
    width: 100%;
    height: 1440px;

 }
 #griSerit #icerik1 #sefler .sef {
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: 20px;
 }